@font-face {
  font-family: "inder-regular";
  src: url("client/public/fonts/Inder-Regular.ttf");
}

@font-face {
  font-family: "montserrat-alternates";
  src: url("client/public/fonts/MontserratAlternates-Regular.ttf");
}

body {
  background-color: #f7ede2;
  margin: 0;
}
